body {
    text-align: center;
}

nav {
    display: flex;
    border: solid black 1px;
    justify-content: ;
}

.nav-links {
    margin-left: auto;
}

.img-1 {
    height: 200px;
}

.sub-images {
    height: 150px;
    width: 150px;
}

.hero, header, footer {
    background-color: #172937;
    color: white;
}

.section-2 {
    background-color: #E5E7EB;
    color: #1F2937;
}